name: Run R Script and Generate Report

on:
  schedule:
   - cron: '0 0 * * *'  # Se ejecuta a la medianoche
  workflow_dispatch:  # Permite la ejecución manual del workflow

jobs:
  run-r-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'  # Usa una versión estable y reciente

      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/R
          key: Linux-r-${{ hashFiles('**/reporte01.Rmd') }}
          restore-keys: Linux-r-

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc libcurl4-openssl-dev libssl-dev libxml2-dev \
          libfontconfig1 libfreetype6 texlive texlive-latex-extra \
          libmagick++-dev libharfbuzz-dev libfribidi-dev unixodbc unixodbc-dev  # <-- Corregidos los nombres

      - name: Install R packages
        run: |
          Rscript -e "install.packages(c('rmarkdown', 'tidyverse', 'httr', 'dplyr', 'readxl', 'knitr', 'kableExtra', 'tidyr', 'ggplot2', 'plotly', 'readr', 'DT', 'RODBC', 'formattable', 'googledrive', 'rvest'), dependencies = TRUE)"

      - name: Run R script and Render HTML
        run: |
          Rscript -e "rmarkdown::render('reporte01.Rmd', output_file = 'index.html')"

      - name: List output files
        run: ls -l

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: gh-pages
