name: Run R Script and Generate Report

on:
  schedule:
   - cron: '0 0 * * *'  # Se ejecuta una vez al día a la medianoche
  workflow_dispatch:  # Permite ejecución manual del workflow

jobs:
  run-r-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3  # Usa la última versión disponible

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'  # Usa una versión reciente de R

      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/R
          key: ${{ runner.os }}-r-${{ hashFiles('**/reporte01.Rmd') }}
          restore-keys: |
            ${{ runner.os }}-r-

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            pandoc \
            libcurl4-openssl-dev \
            libssl-dev \
            libxml2-dev \
            libfontconfig1 \
            libfreetype6 \
            texlive \
            texlive-latex-extra \
            libmagick++-dev \
            libharfbuzz-dev \
            libfribidi-dev \
            unixODBC \
            unixODBC-dev

      - name: Install missing R dependencies
        run: |
          Rscript -e "install.packages(c('systemfonts', 'textshaping', 'magick', 'svglite'), dependencies = TRUE, repos='http://cran.rstudio.com')"

      - name: Install R packages
        run: |
          Rscript -e "install.packages(c('tidyverse', 'rmarkdown', 'httr', 'dplyr', 'readxl', 'knitr', 'tidyr', 'ggplot2', 'plotly', 'readr', 'DT', 'formattable', 'googledrive', 'rvest'), dependencies = TRUE, repos='http://cran.rstudio.com')"

      - name: Install RODBC separately
        run: |
          Rscript -e "install.packages('RODBC', dependencies = TRUE, repos='http://cran.rstudio.com')"

      - name: Install kableExtra separately
        run: |
          Rscript -e "install.packages('kableExtra', dependencies = TRUE, repos='http://cran.rstudio.com')"

      - name: Run R script and Render Report
        run: |
          Rscript -e "rmarkdown::render('reporte01.Rmd', output_file = 'index.html')"

      - name: List output files
        run: ls -l

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.MY_GITHUB_PAT }}
          publish_dir: ./
          publish_branch: gh-pages  # La rama donde se publicará
